.conteiner{
    
    width: 900px;
    background-color: rgb(160, 12, 12);
}

.nav{
    background-color: #2a5deb;
    padding: 1rem;

}

.nav-link{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    padding: 0.8rem;

}
main p{
color: #fff;
padding: 0.8rem;

}

main H1{
 color: rgb(255, 255, 255);
    padding: 0.8rem;
}

footer p{
    color: #fff;
    text-align: center;
}

.form{
    color: #fff;
    padding: 0.8rem;
}
.pp{
    margin: 0rem;
  
    padding-bottom: 0rem;
    padding-top: 0rem;
}